
.header {
background-color: #262626;
/* height: 100px; */
}

.header h1 {
  margin: 40px 0 0 20px;
  color: white;
}

.header h4 {
  margin: 0 0 40px 20px;
  font-size: 14px;
  color: grey;
}

.dropdown button {

  color: grey;
}

.btn-secondary {
background-color: #262626;
border-color: #262626;
}

.btn-group {
  margin-top: 50px;
}

.home-banner {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-banner-img {
  width: 100%;


}
.jumbotron {
  background-image: url(../images/me.jpg);
}

h1, h2, h3, h4  {
font-family: "Oswald", sans-serif;
}

p, a {
font-family: "Lora", sans-serif;
}


.warm{
  color: #ea5449;
}
a {
  color: #ea5449;
}

.bump {
  margin-top: 15px;
}

.minimal {
text-decoration: none;
}
